# Загрузка датафрейма и библиотек

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:\\Users\\feras\\Downloads\\test_data.csv')

# Ознакомление с датафреймом

In [3]:
# Функция для первичного анализа дата-сета
def analyze_df(df):
    # выводим размерность датафрейма
    display("Размерность датафрейма:")
    display(df.shape)
    display("")

    # выводим информацию о датафрейме
    display("Информация о датафрейме:")
    display(df.info())
    display("")

    # выводим статистическую информацию о датафрейме
    display("Статистическая информация о датафрейме:")
    display(df.describe())
    display("")

    # выводим первые 10 строк датафрейма
    display("Первые 10 строк датафрейма:")
    display(df.head(10))

    # выодим кол-во пропусков
    display("Кол-во пропусков")
    display(df.isna().sum())
    
    # выодим кол-во дубликатов
    display("Кол-во дубликатов")
    display(df.duplicated().sum())

In [4]:
analyze_df(data)

'Размерность датафрейма:'

(87, 17)

''

'Информация о датафрейме:'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Campaign_id        87 non-null     int64
 1   Geo                87 non-null     object
 2   Buyer              87 non-null     object
 3   Impressions        87 non-null     int64
 4   Clicks             87 non-null     int64
 5   Installs           87 non-null     int64
 6   Registrations      87 non-null     int64
 7   Spend              87 non-null     object
 8   Revenue_ad1d       87 non-null     object
 9   Revenue_in_app1d   87 non-null     object
 10  Payers1d           87 non-null     int64
 11  Revenue_ad7d       87 non-null     object
 12  Revenue_in_app7d   87 non-null     object
 13  Payers7d           87 non-null     int64
 14  Revenue_ad30d      87 non-null     object
 15  Revenue_in_app30d  87 non-null     object
 16  Payers30d          87 non-null     int64
dtypes: int64(8), object(9)
memory usage: 11.7+ KB

None

''

'Статистическая информация о датафрейме:'

,Campaign_id,Impressions,Clicks,Installs,Registrations,Payers1d,Payers7d,Payers30d
count,87.000000,8.700000e+01,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,44.000000,1.140572e+05,3804.494253,1211.850575,769.057471,2.034483,2.551724,2.816092
std,25.258662,3.989255e+05,14610.898115,3883.087208,2577.564690,7.169782,8.798465,9.299323
min,1.000000,2.185000e+03,53.000000,10.000000,2.000000,0.000000,0.000000,0.000000
25%,22.500000,1.057700e+04,276.500000,107.500000,44.500000,0.000000,0.000000,0.000000
50%,44.000000,2.619300e+04,724.000000,258.000000,147.000000,0.000000,0.000000,1.000000
75%,65.500000,7.088950e+04,2063.500000,763.500000,501.500000,2.000000,2.000000,3.000000
max,87.000000,3.456974e+06,129508.000000,33054.000000,21932.000000,64.000000,79.000000,83.000000

''

'Первые 10 строк датафрейма:'

,Campaign_id,Geo,Buyer,Impressions,Clicks,Installs,Registrations,Spend,Revenue_ad1d,Revenue_in_app1d,Payers1d,Revenue_ad7d,Revenue_in_app7d,Payers7d,Revenue_ad30d,Revenue_in_app30d,Payers30d
0,1,north america,buyer_1,3456974,129508,33054,21932,"3208,440002","1163,521408","162,220001",64,"1381,310062","199,749999",79,"1527,013835","276,629998",83
1,2,north america,buyer_2,245542,6306,3401,2448,"1569,519999","833,059639","37,25",17,"1200,964697","69,340001",19,"1449,001828","120,250001",22
2,3,north america,buyer_1,1281103,35724,13315,8101,"1231,999998","459,6826","3,26",4,"524,987826","24,7",6,"572,633765","24,7",6
3,4,north america,buyer_1,215538,9987,3119,1857,"1228,129999","602,77816","26,13",11,"830,113889","33,439999",12,"1042,831595","57,530002",12
4,5,western europe,buyer_2,335878,7343,3952,2955,"872,570005","427,807238","19,030001",4,"577,039081","20,640001",5,"714,554179","32,150001",6
5,6,north america,buyer_2,79419,2124,1110,745,"556,720001","237,204412","9,77",3,"315,078178","26,550001",4,"389,36361","26,550001",4
6,7,north america,buyer_3,88809,3113,926,603,"525,51001","252,857545","15,37",3,"361,393394","32,160001",3,"433,87208","32,160001",3
7,8,north america,buyer_3,113917,3966,1249,854,"521,509998","306,853212","30,78",2,"484,534634","39,17",3,"770,979189","47,56",4
8,9,north america,buyer_2,65516,1717,905,685,"460,33","186,115059","25,129999",6,"274,565038","29,999999",9,"352,509658","60,35",10
9,10,north america,buyer_2,64739,1899,928,539,"416,130001","177,430283",0,0,"240,487613",0,0,"268,50108",0,0

'Кол-во пропусков'

Campaign_id          0
Geo                  0
Buyer                0
Impressions          0
Clicks               0
Installs             0
Registrations        0
Spend                0
Revenue_ad1d         0
Revenue_in_app1d     0
Payers1d             0
Revenue_ad7d         0
Revenue_in_app7d     0
Payers7d             0
Revenue_ad30d        0
Revenue_in_app30d    0
Payers30d            0
dtype: int64

'Кол-во дубликатов'

0

In [5]:
# Приводим названия столбцов к нижнему регистру
data.columns = data.columns.str.lower()
# Проверяем
data.columns

Index(['campaign_id', 'geo', 'buyer', 'impressions', 'clicks', 'installs',
       'registrations', 'spend', 'revenue_ad1d', 'revenue_in_app1d',
       'payers1d', 'revenue_ad7d', 'revenue_in_app7d', 'payers7d',
       'revenue_ad30d', 'revenue_in_app30d', 'payers30d'],
      dtype='object')

## Приводим данные в столбцах к корректному типу

In [7]:
data['buyer'] = data['buyer'].replace({'buyer_1': 1,
                                       'buyer_2': 2,
                                       'buyer_3': 3,
                                       'buyer_4': 4,
                                       'buyer_5': 5})
# Проверяем
display(data['buyer'].unique())

array([1, 2, 3, 4, 5], dtype=int64)

In [8]:
to_float = ['spend', 'revenue_ad1d', 'revenue_in_app1d', 'revenue_ad7d', 'revenue_in_app7d', 'revenue_ad30d', 'revenue_in_app30d']

# Удаление запятых из значений в указанных столбцах
for column in to_float:
    data[column] = data[column].str.replace(',', '.')

# Преобразование столбцов в тип float
data[to_float] = data[to_float].astype(float)

In [18]:
# Вывод уникальных значений столбцов
for column in data.columns:
    unique_values = data[column].unique()
    display(f'Уникальные значения в столбце "{column}":')
    display(unique_values)
    display()

'Уникальные значения в столбце "campaign_id":'

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87], dtype=int64)

'Уникальные значения в столбце "geo":'

array(['north america', 'western europe', 'cis', 'north africa',
       'latin america', 'tropical africa', 'australia oceania'],
      dtype=object)

'Уникальные значения в столбце "buyer":'

array([1, 2, 3, 4, 5], dtype=int64)

'Уникальные значения в столбце "impressions":'

array([3456974,  245542, 1281103,  215538,  335878,   79419,   88809,
        113917,   65516,   64739,   58686,   59889,   99721,  104913,
        129620,  188812,   40401,   43921,   36099,   39441,  794504,
         26193,   24275,  201923,   21178,   46678,  295356,  113642,
         18125,   49131,   27598,   61216,   21635,   15540,   16071,
        117497,    9923,   11431,   13381,   32115,  100570,   60794,
         12356,    9903,  113452,   24983,    8726,   76263,   58709,
         10849,   65206,    6519,    7459,    4778,    5013,  154149,
         44902,    7254,   40633,   90894,   13002,   14062,    8164,
          5070,   23016,    4379,    3095,    3815,   41822,   10112,
         11319,   15080,   10305,   12042,    3927,    9845,   39282,
          4203,    4041,    8981,    2185,   20958,   15729,   16404,
         27422,    8334,   16622], dtype=int64)

'Уникальные значения в столбце "clicks":'

array([129508,   6306,  35724,   9987,   7343,   2124,   3113,   3966,
         1717,   1899,   1984,   2024,   1594,   2949,   4195,   5581,
         1622,   1086,   1136,    730,  28598,    939,    759,  16025,
          636,    798,   8540,   3027,    628,   1449,    880,   1044,
          475,    724,    399,   3120,    248,    541,    434,    841,
         3246,   2484,    521,    481,   6161,   1020,    492,   2103,
         1930,    453,    695,    216,    482,    131,    145,   3526,
         1463,    173,    480,   2735,    315,    194,    118,    215,
          549,    182,    102,    117,    734,    190,    296,    152,
          178,    257,    144,    168,    754,    110,    207,    298,
           53,    308,    451,    210,    358,    154,    547],
      dtype=int64)

'Уникальные значения в столбце "installs":'

array([33054,  3401, 13315,  3119,  3952,  1110,   926,  1249,   905,
         928,   749,  1064,   970,  1780,  1431,  2421,   524,   492,
         568,   291,  8069,   441,   311,  2836,   239,   369,  3133,
         734,   307,   723,   335,   547,   238,   251,   183,   600,
         128,   201,   235,   269,  1610,   708,   165,   146,  1969,
         265,   174,   743,   372,    98,   191,    77,   129,    64,
          71,  1591,   733,    66,   199,   778,   123,   116,    63,
         253,    37,    47,    72,   326,    90,   102,    61,    80,
          93,    48,    73,   122,    46,    76,   160,    10,   144,
         180,    69,   113,    58,   258], dtype=int64)

'Уникальные значения в столбце "registrations":'

array([21932,  2448,  8101,  1857,  2955,   745,   603,   854,   685,
         539,   518,   583,   702,  1076,   902,  1364,   258,   333,
         353,   231,  6218,   189,   152,  1944,   183,   208,  1880,
         432,   159,   461,   270,   318,   202,   147,    94,    88,
         101,    74,    81,   714,   407,    66,    78,  1195,   141,
          51,   166,   219,    36,    40,    46,    53,    31,    24,
         851,   269,    42,    41,   485,    86,    77,    57,    11,
          17,    15,     2,   248,    49,    71,    21,    43,    20,
          38,     4,     9,    62,    26,    27,   142], dtype=int64)

'Уникальные значения в столбце "spend":'

array([3208.440002, 1569.519999, 1231.999998, 1228.129999,  872.570005,
        556.720001,  525.51001 ,  521.509998,  460.33    ,  416.130001,
        409.690001,  405.509998,  384.739998,  326.98    ,  297.279999,
        278.970003,  275.890001,  270.34    ,  265.35    ,  233.390001,
        204.389999,  202.629999,  179.720003,  156.430002,  153.51    ,
        147.970001,  143.820002,  143.629999,  138.649998,  137.1     ,
        136.879999,  122.019999,  116.75    ,  105.849998,   99.58    ,
         98.359999,   96.74    ,   93.789999,   91.880001,   87.16    ,
         82.389999,   73.68    ,   73.490002,   73.16    ,   69.079998,
         65.389999,   62.4     ,   61.759998,   54.190001,   53.4     ,
         48.059999,   48.01    ,   45.700001,   45.01    ,   44.58    ,
         43.5     ,   42.190001,   42.089998,   41.91    ,   41.51    ,
         40.200001,   33.419998,   29.92    ,   28.23    ,   27.9     ,
         27.459999,   27.01    ,   25.76    ,   24.629999,   24.290001,
         24.129999,   24.110001,   23.76    ,   23.32    ,   23.15    ,
         22.780001,   22.700001,   22.049999,   21.950001,   21.549999,
         21.      ,   20.610001,   20.549999,   20.43    ,   20.41    ])

'Уникальные значения в столбце "revenue_ad1d":'

array([1.16352141e+03, 8.33059639e+02, 4.59682600e+02, 6.02778160e+02,
       4.27807238e+02, 2.37204412e+02, 2.52857545e+02, 3.06853212e+02,
       1.86115059e+02, 1.77430283e+02, 1.63803575e+02, 1.81964882e+02,
       2.31865353e+02, 9.61568430e+01, 9.01437590e+01, 1.12178944e+02,
       7.40317830e+01, 1.60979183e+02, 1.30386289e+02, 9.61569850e+01,
       1.65965650e+01, 7.28005000e+01, 4.62226160e+01, 9.29572840e+01,
       1.13351948e+02, 5.68001670e+01, 4.55031290e+01, 1.68908120e+01,
       5.33855600e+01, 1.31065869e+02, 1.00510319e+02, 6.75604050e+01,
       8.13199290e+01, 5.12163950e+01, 2.15897860e+01, 1.91049250e+01,
       2.69571090e+01, 2.50653090e+01, 2.35220740e+01, 1.39542680e+01,
       3.75505790e+01, 2.75725120e+01, 2.41612990e+01, 2.00948780e+01,
       2.65081200e+01, 3.26711690e+01, 1.19400150e+01, 1.24593990e+01,
       1.17077530e+01, 3.37305800e+00, 3.33995500e+00, 6.79266500e+00,
       1.29102010e+01, 6.48620500e+00, 8.30357500e+00, 3.81628100e+00,
       1.67074990e+01, 1.01566710e+01, 2.08562800e+00, 5.47379400e+00,
       1.91781950e+01, 1.52806050e+01, 3.41613660e+01, 1.71506730e+01,
       3.92906000e-01, 6.24499700e+00, 9.01451900e+00, 3.68663000e-01,
       1.79291360e+01, 1.35675510e+01, 1.15671620e+01, 1.00138340e+01,
       7.99964100e+00, 5.80655500e+00, 1.62919810e+01, 1.04779620e+01,
       1.35948300e+00, 8.55244000e+00, 9.14312300e+00, 5.11279000e-01,
       1.18730400e+00, 3.70322600e+00, 2.28306500e+00, 2.34265400e+00,
       8.89579300e+00, 2.12165000e+00, 1.01376340e+01])

'Уникальные значения в столбце "revenue_in_app1d":'

array([162.220001,  37.25    ,   3.26    ,  26.13    ,  19.030001,
         9.77    ,  15.37    ,  30.78    ,  25.129999,   0.      ,
        12.53    ,   3.47    ,   0.73    ,   4.19    ,   5.77    ,
         8.34    ,  10.38    ,  11.16    ,  11.88    ,   2.08    ,
         9.08    ,   8.39    ,  11.29    ,   0.69    ,   3.16    ,
         3.03    ,   6.26    ,  17.47    ,   1.28    ,   0.49    ,
         3.1     ,   0.55    ,   1.48    ,   0.54    ,   3.38    ,
         1.18    ,   1.49    ])

'Уникальные значения в столбце "payers1d":'

array([64, 17,  4, 11,  3,  2,  6,  0,  1,  5], dtype=int64)

'Уникальные значения в столбце "revenue_ad7d":'

array([1.38131006e+03, 1.20096470e+03, 5.24987826e+02, 8.30113889e+02,
       5.77039081e+02, 3.15078178e+02, 3.61393394e+02, 4.84534634e+02,
       2.74565038e+02, 2.40487613e+02, 2.51676735e+02, 2.80528092e+02,
       3.40080940e+02, 1.31027069e+02, 1.30350635e+02, 1.47225113e+02,
       1.01332599e+02, 2.04411795e+02, 1.77699245e+02, 1.32120541e+02,
       1.94257930e+01, 1.00642448e+02, 6.85908090e+01, 1.17630269e+02,
       1.48397449e+02, 9.98156790e+01, 5.65557160e+01, 2.20292850e+01,
       1.04992718e+02, 1.81802195e+02, 1.55663275e+02, 9.71237920e+01,
       1.07925810e+02, 7.13008510e+01, 2.58650050e+01, 2.23256170e+01,
       3.36471830e+01, 3.34037210e+01, 2.59576030e+01, 1.90814380e+01,
       4.32488730e+01, 3.69860500e+01, 2.78375930e+01, 2.67563840e+01,
       3.32373450e+01, 3.90258040e+01, 1.86894390e+01, 1.65251430e+01,
       1.35293090e+01, 4.38283900e+00, 4.43309800e+00, 1.03562590e+01,
       1.44744380e+01, 8.10966900e+00, 1.18593270e+01, 5.04222700e+00,
       1.88710260e+01, 1.19350450e+01, 2.34346100e+00, 6.15988100e+00,
       2.17608780e+01, 2.37231410e+01, 4.37890660e+01, 2.01673200e+01,
       5.92263000e-01, 7.62430800e+00, 1.23357450e+01, 3.68663000e-01,
       2.00337370e+01, 1.86682260e+01, 1.55696340e+01, 1.40204870e+01,
       1.03383740e+01, 7.22403700e+00, 1.78429810e+01, 1.18871980e+01,
       1.92796000e+00, 1.04159960e+01, 1.18609460e+01, 5.11279000e-01,
       1.21266400e+00, 4.41364600e+00, 4.25251000e+00, 2.38865400e+00,
       1.97314510e+01, 4.63213000e+00, 1.13954770e+01])

'Уникальные значения в столбце "revenue_in_app7d":'

array([199.749999,  69.340001,  24.7     ,  33.439999,  20.640001,
        26.550001,  32.160001,  39.17    ,  29.999999,   0.      ,
        13.91    ,   3.47    ,   5.48    ,   9.      ,   5.77    ,
        17.35    ,  11.07    ,  11.85    ,  16.74    ,   2.08    ,
         9.77    ,   8.39    ,  12.4     ,   1.38    ,   3.16    ,
         4.57    ,   0.72    ,   6.26    ,  18.160001,   1.84    ,
         0.49    ,   3.1     ,   0.55    ,   0.56    ,   1.48    ,
         0.73    ,  10.46    ,   0.54    ,   3.38    ,   2.98    ,
         1.49    ])

'Уникальные значения в столбце "payers7d":'

array([79, 19,  6, 12,  5,  4,  3,  9,  0,  8,  2,  1], dtype=int64)

'Уникальные значения в столбце "revenue_ad30d":'

array([1.52701383e+03, 1.44900183e+03, 5.72633765e+02, 1.04283160e+03,
       7.14554179e+02, 3.89363610e+02, 4.33872080e+02, 7.70979189e+02,
       3.52509658e+02, 2.68501080e+02, 3.90541706e+02, 3.39694637e+02,
       4.60489636e+02, 1.55082237e+02, 1.61763608e+02, 1.67952115e+02,
       1.26727738e+02, 2.17129430e+02, 2.00748127e+02, 1.87258096e+02,
       2.15967900e+01, 1.28652905e+02, 1.05268586e+02, 1.29256093e+02,
       2.03260172e+02, 1.08184224e+02, 6.14352600e+01, 2.55841950e+01,
       1.17297491e+02, 2.93140940e+02, 1.92697524e+02, 1.02471383e+02,
       1.34986309e+02, 8.22567090e+01, 3.26106330e+01, 2.37590280e+01,
       3.52685640e+01, 6.62346440e+01, 3.05638270e+01, 3.38501580e+01,
       4.68498360e+01, 4.64452070e+01, 3.15298330e+01, 3.09363190e+01,
       3.61436770e+01, 4.37994060e+01, 1.96713350e+01, 2.10837060e+01,
       1.43670150e+01, 5.77383900e+00, 5.20671700e+00, 1.23658240e+01,
       1.59382200e+01, 8.26479600e+00, 1.59147600e+01, 5.48965000e+00,
       1.98245190e+01, 1.19465470e+01, 2.71235200e+00, 6.45185500e+00,
       2.76798520e+01, 2.46569230e+01, 6.70518950e+01, 2.04530540e+01,
       6.06263000e-01, 8.85475600e+00, 1.70733660e+01, 3.68663000e-01,
       2.03192560e+01, 1.99840280e+01, 1.84145970e+01, 1.47775140e+01,
       1.05737840e+01, 1.31080770e+01, 1.83141780e+01, 1.22992940e+01,
       2.70515300e+00, 1.08626580e+01, 1.32095290e+01, 8.15656000e-01,
       1.21266400e+00, 4.53713700e+00, 7.58377600e+00, 2.40523200e+00,
       3.07839030e+01, 5.12740600e+00, 1.23986170e+01])

'Уникальные значения в столбце "revenue_in_app30d":'

array([276.629998, 120.250001,  24.7     ,  57.530002,  32.150001,
        26.550001,  32.160001,  47.56    ,  60.35    ,   0.      ,
        15.29    ,   7.64    ,   8.76    ,  13.19    ,   6.33    ,
        25.21    ,  11.07    ,  11.85    ,  20.22    ,   4.86    ,
        11.84    ,   8.39    ,  20.039999,   2.81    ,   4.46    ,
        11.93    ,   0.72    ,   9.75    ,   0.69    ,   3.13    ,
         2.08    ,   0.49    ,   3.1     ,   0.55    ,   0.56    ,
         1.48    ,   0.73    ,  10.46    ,   8.44    ,   6.71    ,
         2.98    ,   7.48    ])

'Уникальные значения в столбце "payers30d":'

array([83, 22,  6, 12,  4,  3, 10,  0,  5,  2,  1], dtype=int64)

'Уникальные значения в столбце "CPI":'

array([0.09706662, 0.4614878 , 0.09252722, 0.39375761, 0.22079201,
       0.50154955, 0.56750541, 0.41754203, 0.50865193, 0.44841595,
       0.54698264, 0.38111842, 0.39663917, 0.18369663, 0.20774284,
       0.11522925, 0.52650764, 0.54947154, 0.46716549, 0.80202749,
       0.02533028, 0.45947846, 0.57787782, 0.05515867, 0.64230126,
       0.40100271, 0.04590488, 0.1956812 , 0.45162866, 0.18962656,
       0.40859701, 0.2230713 , 0.49054622, 0.42171314, 0.54415301,
       0.16393333, 0.75578125, 0.46661691, 0.39097873, 0.32401487,
       0.05117391, 0.1040678 , 0.44539395, 0.50109589, 0.0350838 ,
       0.24675471, 0.35862069, 0.08312247, 0.14567205, 0.54489796,
       0.25162303, 0.62350649, 0.35426357, 0.70328125, 0.62788732,
       0.02734129, 0.05755798, 0.63772724, 0.21060302, 0.05335476,
       0.32682928, 0.28810343, 0.4675    , 0.44809524, 0.11027668,
       0.74216214, 0.57468085, 0.35777778, 0.07555214, 0.2698889 ,
       0.23656862, 0.39524592, 0.297     , 0.25075269, 0.48583333,
       0.31712329, 0.18672132, 0.49347828, 0.29013157, 0.13718751,
       2.1549999 , 0.14583333, 0.11450001, 0.29782607, 0.18079646,
       0.35224138, 0.07910853])

## Вывод о первичном ознакомлении
- Пропусков не наблюдается
- Средние значение столбцов близко к медианному. Это означает малое / отсутствие выбросов
- Уникальные значения столбцов выгледят естественными

# Вычисление метрик

## CTR (Click-Through Rate)

In [10]:
# Группировка данных по 'geo' и вычисление среднего CTR
geo_ctr = data.groupby('geo')['clicks'].sum() / data.groupby('geo')['impressions'].sum()

# Нахождение макрорегиона с наименьшим CTR
worst_geo_ctr = geo_ctr.idxmin()
print("Гео с наименьшим CTR:", worst_geo_ctr)

Гео с наименьшим CTR: western europe

In [11]:
# Нахождение макрорегиона с наибольшим CTR
best_geo_ctr = geo_ctr.idxmax()
print("Гео с наибольшим CTR:", best_geo_ctr)

Гео с наибольшим CTR: north america

## ROI (Return on Investment)

In [12]:
# Группировка данных по 'buyer' и вычисление ROI (прибыль / затраты)
roi_by_buyer = data.groupby('buyer')['revenue_ad1d'].sum() / data.groupby('buyer')['spend'].sum()

# Нахождение медиабайера с наименьшим ROI
worst_buyer = roi_by_buyer.idxmin()
print("Худший медиабайер по ROI:", worst_buyer)

Худший медиабайер по ROI: 5

In [13]:
# Нахождение медиабайера с наибольшим ROI
best_buyer = roi_by_buyer.idxmax()
print("Лучший медиабайер по ROI:", best_buyer)

Лучший медиабайер по ROI: 3

## CPI (Cost Per Install)

In [14]:
# Вычисление CPI (Cost Per Install) для каждой кампании
data['CPI'] = data['spend'] / data['installs']

# Нахождение кампанию с самым низким CPI
cheapest_campaign = data.loc[data['CPI'].idxmin(), 'campaign_id']
print("Самая дешевая кампания по CPI:", cheapest_campaign)

Самая дешевая кампания по CPI: 21

In [15]:
# Нахождение кампанию с самым высоким CPI
most_expensive_campaign = data.loc[data['CPI'].idxmax(), 'campaign_id']
print("Самая дорогая кампания по CPI:", most_expensive_campaign)

Самая дорогая кампания по CPI: 81

## CPC (Cost Per Click)

In [16]:
# Группировка данных по 'geo' и вычисление CPC для каждого региона
geo_cpc = data.groupby('geo')['spend'].sum() / data.groupby('geo')['clicks'].sum()

# Находим лучший регион по CPC
best_geo_cpc = geo_cpc.idxmin()
print("Лучший регион по CPC:", best_geo_cpc)

Лучший регион по CPC: north africa

In [17]:
# Находим лучший регион по CPC
worst_geo_cpc = geo_cpc.idxmax()
print("Худший регион по CPC:", worst_geo_cpc)

Худший регион по CPC: australia oceania

# Вывод (ответы на поставленные вопросы)

- Макрорегион с наибольшим CTR (кликнувших на рекламу, увидев ее): north america
- Макрорегион с наименьшим CTR (кликнувших на рекламу, увидев ее): western europe
- Лучший медиабайер по ROI (прибыльность инвестиций в маркетинг): 3
- Худший медиабайер по ROI (прибыльность инвестиций в маркетинг): 5
- Самая дешевая кампания по CPI (стоимость установки): 21
- Самая дорогая кампания по CPI (стоимость установки): 81
- Лучший регион по CPC (стоимость клика): north africa
- Худший регион по CPC (стоимость клика): australia oceania

В ходе выполнения анализа были даны ответы на поставленные в ТЗ вопросы + приведена 1 (бонустная :)) метрика \
На этом исследование можно считать успешно завершенным